@import "_variables";
@import "_atoms";


p,a {
    color: $primary2;
    font-family: $fonts-body2; 
}

@keyframes transExtra {
    55% {
      margin-right: 10em;
      width: 60px; 
  }
    85% {
      margin-right: 30em;
      width: 80px;
   }
    90% {
      margin-right: 32em;
      width: 80px;
   }
    95% {
      margin-right: 40em;
      width: 80px; 
  }
    100% {
      margin-right: 80em;
      width: 100px; }
   }