// Variables
$background-color: black;
$primary: #387eaf;
$primary2: #f2efed;
$zenScale: scale(1.2);
$fonts-min: 'Bigruns';
$fonts-body: "Bigruns", sans-serif;  
$fonts-body2: "Electrolize", sans-serif;


