// Variables
$background-color: black;
$primary: #387eaf;
$primary2: #f2efed;
$zenScale: scale(1.2);
// $bgimage: url(../assets/ocean.png);
// $logo: url(../assets/logo.png);
// $font-biggruns :url("../Bigruns.ttf"); 
$fonts-min: 'Bigruns';
$fonts-body: "Bigruns", sans-serif;  
$fonts-body2: "Electrolize", sans-serif;


